In [13]:
import pandas as pd
import pathlib

In [14]:
data_folder = pathlib.Path("./fixtures").joinpath("data")

In [15]:
# products dataset
products_df = pd.read_csv(data_folder.joinpath("products.csv"))
products_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 877 entries, 0 to 876
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   id           877 non-null    int64
 1   description  877 non-null    object
dtypes: int64(1), object(1)
memory usage: 13.8+ KB

In [16]:
orders_df = pd.read_csv(data_folder.joinpath("orders.csv"))
orders_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 438 entries, 0 to 437
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   id           438 non-null    int64
 1   created_at   438 non-null    object
 2   vendor_id    438 non-null    int64
 3   customer_id  438 non-null    int64
dtypes: int64(3), object(1)
memory usage: 13.8+ KB

In [17]:
order_items_df = pd.read_csv(data_folder.joinpath("order_lines.csv"))
order_items_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5539 entries, 0 to 5538
Data columns (total 11 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   order_id             5539 non-null   int64
 1   product_id           5539 non-null   int64
 2   product_description  5539 non-null   object
 3   product_price        5539 non-null   int64
 4   product_vat_rate     5539 non-null   float64
 5   discount_rate        5539 non-null   float64
 6   quantity             5539 non-null   int64
 7   full_price_amount    5539 non-null   int64
 8   discounted_amount    5539 non-null   float64
 9   vat_amount           5539 non-null   float64
 10  total_amount         5539 non-null   float64
dtypes: float64(5), int64(5), object(1)
memory usage: 476.1+ KB

In [18]:
# groupby by day
merged_order_and_item = order_items_df.join(
    orders_df, lsuffix="order_id", rsuffix="id")
merged_order_and_item.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5539 entries, 0 to 5538
Data columns (total 15 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   order_id             5539 non-null   int64
 1   product_id           5539 non-null   int64
 2   product_description  5539 non-null   object
 3   product_price        5539 non-null   int64
 4   product_vat_rate     5539 non-null   float64
 5   discount_rate        5539 non-null   float64
 6   quantity             5539 non-null   int64
 7   full_price_amount    5539 non-null   int64
 8   discounted_amount    5539 non-null   float64
 9   vat_amount           5539 non-null   float64
 10  total_amount         5539 non-null   float64
 11  id                   438 non-null    float64
 12  created_at           438 non-null    object
 13  vendor_id            438 non-null    float64
 14  customer_id          438 non-null    float64
dtypes: float64(8), int64(5), object(2)
memory usage: 649.2+ KB

In [19]:
merged_order_and_item.head()

,order_id,product_id,product_description,product_price,product_vat_rate,discount_rate,quantity,full_price_amount,discounted_amount,vat_amount,total_amount,id,created_at,vendor_id,customer_id
0,2,794,IBM 032,21873,0.11,0.000000,49,1071777,1.071777e+06,117895.470000,1.189672e+06,2.0,2019-08-01 18:43:57.052767,3.0,1398.0
1,2,780,IBM 003,94046,0.20,0.761293,29,2727334,6.510325e+05,130206.500079,7.812390e+05,3.0,2019-08-01 11:51:07.349383,2.0,7449.0
2,2,521,Deskjet 995c / 995ck,47082,0.11,0.000000,20,941640,9.416400e+05,103580.400000,1.045220e+06,4.0,2019-08-01 15:26:46.084807,5.0,7082.0
3,2,835,A388C (Accompli 388),55162,0.00,0.000000,50,2758100,2.758100e+06,0.000000,2.758100e+06,5.0,2019-08-01 03:34:05.665990,5.0,5727.0
4,2,580,Officejet 330,15927,0.11,0.000000,46,732642,7.326420e+05,80590.620000,8.132326e+05,6.0,2019-08-01 16:30:57.126590,5.0,5281.0